{if: !empty($settings.blog.disqus)}
    {if: isset($isBlog)}
    <script type="text/javascript">
    var disqus_shortname = '{$settings.blog.disqus}';
    (function (){
    var s = document.createElement('script');

    s.async = true;
    s.type = 'text/javascript';
    s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
    (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(s);
    }());
    </script>
    {elseif: isset($isPost) && $post.comments == 1}
    <script>
        var disqus_config = function() {
            this.page.url = "{$post.url}";
            this.page.identifier = "{$post.id}";
        };

        (function() {
            var d = document,
                s = d.createElement('script');

            s.src = '//{$settings.blog.disqus}.disqus.com/embed.js';

            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
    <script id="dsq-count-scr" src="//{$settings.blog.disqus}.disqus.com/count.js" async></script>
    {/if}
{/if}